.Settings{
    display: flex;
    height: 100px;
}

.Settings_Wrapper{
    flex: 6;
    padding: 30px;
}

.Settings_Title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Settings_Update_Title{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.Settings_Delete_Title{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.Settings_Form{
    display: flex;
    flex-direction: column;
}

.Settings_PP{
    display: flex;
    align-items: center;
    margin: 10px 0;
    align-self: center;
}

.Settings_PP > img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.Settings_PP_Icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    cursor: pointer;
}

.Settings_Form > label{
    font-size: 20px;
    margin-top: 20px;
}

.Settings_Form > input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.Settings_Form>input:focus {
    outline: none;
}

.Settings_Submit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}