.TopBar__Main{
    width: 100%;
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', 'sans-serif';
    z-index: 99;
}

.TopBar__Left, .TopBar__Right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
}

.TopBar__Center{
    flex: 6;
}

.TopBar__Image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.TopBar__Icon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.TopBar__List{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.TopBar_Item{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.TopBar_Search{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}