.Write{
    padding-top: 50px;
    margin: auto;
    width: 90%;
}

.Write_Image{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.Write_Form{
    position: relative;
}

.Write_Form_Group{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.Write_Icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.Write_Input{
    margin: 10px;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 65vw;
}

.Write_Input:focus{
    outline: none;
}

.Write_Text{
    margin-left: 35px;
    font-size: 20px;
    height: 100vh;
}

.Write_Submit{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
