.SinglePost{
    flex: 9;
    padding: 20px;
}

.SinglePost_Wrapper{
    padding: 20px;
    padding-right: 10px; 
}

.SinglePost_Image{
    width: 50%;
    height: 300px;
    margin-left: 200px;
    border-radius: 5px;
}

.SinglePost_Title{
    font-family: 'Lora', 'serif';
    font-size: 30px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}

.SinglePost_Title_Edit{
    float: right;
    font-size: 20px;
}

.SinglePost_Title_Icon{
    margin-left: 10px;
    cursor: pointer;
}

.SinglePost_Title_Icon:first-child{
    color: teal;
}

.SinglePost_Title_Icon:last-child {
    color: tomato;
}

.SinglePost_Info{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #b39656;
    font-family: 'Varela Round', sans-serif;
}

.SinglePost_Desc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.SinglePost_Desc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}